@import "../../vars.css";

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 15%;
    margin-right: 10%;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}
.intro{
    font-family: var(--font-roboto) ;
    color: #64ffda;
    font-weight: 400;
    font-size: 1.2em;
    margin: 0;
    letter-spacing: 3px;
}
.title1{
    font-size: 4em;
    font-weight: 500;
    color: #bde0fe;
    margin-left: -2px;
}
.title2{
    font-size: 3em;
    font-weight: 600;
    font-family: var(--font-roboto);
    margin-left: -2px;
}

.description {
    font-size: 1.1em;
    color: #bed7f0;
    line-height: 2em;

}
span a {
    color: #64ffda;
    font-weight: 500;   
    text-decoration: none;
    cursor: nesw-resize;
}
span a:hover {
    text-decoration-line: underline;
    text-decoration-style: dashed;
}
.contactBtn {
    border: 0.1em solid #64ffda;
    border-radius: 0.3em;
    padding: 0.8em 1.3em;
    font-family: var(--font-roboto);
    font-size: 1.1em!important;
    letter-spacing: normal;
    font-weight: 550;
    margin-top: 50px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #64ffda;
    cursor: nesw-resize;
}
.contactBtn:hover{
    background-color: #526d67;
    color: var(--color-text);
    cursor: nesw-resize;
}

@media screen and (max-width: 830px) {
    .container {
      flex-direction: column-reverse;
    }
  
    .content {
      align-items: center;
    }
  }