.container {
  position: relative;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  cursor: nesw-resize;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.title span {
  color: #64ffda;
  font-size: 22px;
  font-family: var(--font-roboto);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items horizontally */
}

.aboutImage {
  width: 35%;
  margin-right: -95px;
}

.aboutItems {
  padding-top: 50px;
  color: #fff;
  width: 60%;
  font-size: 17px;
  font-weight: 550;
  line-height: 1.5;
  letter-spacing: 0.8px;
  
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    flex-direction: column;
  }

  .aboutImage,
  .aboutItems {
    width: 100%;
  }
}
