:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #001233;
    --color-bg2: rgba(12, 12, 12, 0.6);
 
    /* #04152d; */
  
    /* Fonts */
    --font-roboto: "Roboto";
  }